body { overflow-x: hidden; }
nav {
    display: flex;
    position: absolute;
    width: 998px;
    height: 44px;
    left: 350px;
    top: 10px;
    gap: 30px;
    margin-top: 15px;
}

.navitems {
    display: flex;

    text-decoration: none;
    color: black;
    gap: 30px;
}

#applelogo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    bottom: 10px;
}

#frame1 {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 10px;
}

#frame2 {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 10px;
}

.nav2 {
    display: flex;
    position: relative;
    width: 1px;
    height: 60px;
    justify-content: center;
    gap: -500px;
    top: 62px;
    align-items: center;
    left: 430px;
}

.nav2-item {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.12px;
    color: #1D1D1F;
    flex: 1;
    min-width: 110px;
}

.section1 {}

#airpodstext {
    position: absolute;
    width: 443px;
    height: 80px;
    left: 500px;
    top: 345px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 123.906px;
    line-height: 103px;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: -0.230722px;

    color: #1D1D1F;
    animation-name: slideInLeft;
    animation-delay: 10s;
    animation: zoom-in 2s ease-out;
    animation-delay: 3s;

}

#thirdgen {
    width: 154px;
    height: 31px;
    position: absolute;
    left: 670px;
    top: 520px;
    font-weight: 700;
    font-size: 22.4313px;
    line-height: 31px;
}

#Fromprice {
    position: absolute;
    left: 700px;
    top: 550px;
    width: 178px;
    height: 31px;
    font-weight: 400;
    font-size: 22.4313px;
    line-height: 31px;
}

#button1 {
    display: flex;
    align-items: flex-start;
    position: absolute;
    width: 90px;
    height: 30px;
    left: 600px;
    top: 619px;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(67, 123, 243);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#learn-more {
    position: absolute;
    width: 108px;
    height: 31px;
    left: 700.44px;
    top: 602.41px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 22.4313px;
    line-height: 18px;
    width: 130px;
    /* identical to box height, or 138% */

    align-items: center;
    text-align: center;
    letter-spacing: 0.046744px;

    color: #0980f7;
    text-decoration: none;
}

#airpod1 {
    position: absolute;
    height: 982.98px;
    left: 390.12px;
    top: 20.78px;
    width: 250px;
    animation: zoom-in1 2s ease-out;
    animation-delay: 3s;
}

#airpod2 {
    width: 300px;
    position: absolute;
    height: 803.46px;
    left: 890.84px;
    top: 250.96px;
    animation: zoom-in2 2s ease-out;
    animation-delay: 3s;
}
 @keyframes zoom-in {   from {
                opacity: 0;
          font-size: 123px;
            }
            to {
                opacity: 1;
               font-size: 80px;
            } }


            @keyframes zoom-in1 {   from {
                height: 982.98px; 
                 width: 250px;
               transform: translateX(10);
               transform: translateY(1);
            }
            to { height: 990px;
                width: 500px;
               transform: translateY(1000);
               left: -200px;
            } }
  @keyframes zoom-in2 {   from {
                height: 982.98px; 
                 width: 250px;
               transform: translateX(10);
               transform: translateY(1);
            }
            to { height: 990px;
                width: 500px;
               transform: translateY(3000);
               left: 1100px;
            } }


.section2 {
   
    align-items: center;
    gap: 40px;
    margin-top: 1200px;
  
    
    height: 800px;
    animation: slideInLeft 1s ease-out;
}

#earphone {
    padding-top: 50px;
    position: absolute;
    width: 450px;
    left: 580px;
      animation: zoomin4 5s ease-out;
      animation-delay: 2s;
}

#Fromprice2 {
    position: absolute;
    left: 753px;
    width: 178px;
    padding-top: 350px;
    height: 31px;
    font-weight: 400;
    font-size: 22.4313px;
    line-height: 31px;
}

#airpodstext2 {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 170.906px;
    line-height: 103px;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: -0.230722px;
    left: 280px;
    padding-top: 100px;
     animation: zoom-in3 5s ease-out;
     animation-delay: 2s;
     
}

#button1-1 {
    display: flex;
    align-items: flex-start;
    position: absolute;
    width: 60px;
    height: 30px;
    left: 700px;
    margin-top: 600px;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(44, 73, 199);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#learn-more1 {
    position: absolute;
    width: 108px;
    height: 31px;
    left: 790.44px;
    padding-top: 587px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 22.4313px;
    line-height: 18px;
    width: 130px;
    /* identical to box height, or 138% */

    align-items: center;
    text-align: center;
    letter-spacing: 0.046744px;

    color: #0980f7;
    text-decoration: none;
}
@keyframes zoom-in3 {   from {
                opacity: 0;
          font-size: 170px;
          left: 290px;
            }
            to { left: 450px;
                opacity: 1;
               font-size: 120px;
            } }
    @keyframes zoomin4 { from { padding-top: 50px;
    width: 450px;
    left: 580px;  
 transform: translateX(10);
               transform: translateY(1);
               padding-top: 50px;
} 
             
             to { width: 800px; left: 400px; 
             transform: translateY(1000);
              padding-top: -100px; margin-top: -500px; }  }

.section3 {
    border: #1D1D1F;
    margin-top: 80px;
    width: 1490px;
    position: relative;
    height: 720px;
}

#heading1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
}

.grid-container { position: relative;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 equal columns */
    gap: 0;
    left: 400px;
}

.grid-box { padding: 0px;
    color: black;
    left: 0px;
    gap: 0px; 
    margin: 0;  
      left: 400px; 
}

.grid-h2 {}




.grid-container2 { position: relative;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 4 equal columns */
    gap: 0;
<<<<<<< HEAD
    left: 400px;  }
margin-top: 
=======
    left: 400px; margin-top: 
>>>>>>> 706fb3a (change buttons and a labels)
    50px;  }
    .button3 { 
    position: absolute;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(44, 73, 199);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    top: 280px;
 margin-left:30px;
} 
.div-items { display: grid; margin-top: 50px;  align-content: center; left: 500px;}
#learn2 { position: absolute;
    text-decoration: none
    ;  color: rgb(44, 73, 199);
    cursor: pointer; margin-right: 100px; margin-left:35px; }
    #image4 { width: 120px; }
    .grid-h2 { padding-left: 30px;  }
    .grid-p1  { padding-left: 30px;  }
    .grid-p2  { padding-left: 30px;  }
    #learn2-1 { position: absolute; top: 310px
    ;  color: rgb(44, 73, 199);
    cursor: pointer; margin-right: 100px; margin-left:35px; }
    #para1 { text-align: center; }
    .person2 { justify-content: center; margin-left: 120px; }
